/* main.css for zachary stall bio page 2.0*/

html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

h2 {
	font-family: "helvetica Neue", Helcetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

.header {
	box-sizing: border-box;
	border: 2px solid black;
	margin: 20px auto 20px auto;
	padding: 50px;
	width: 700px;
	background: url(images/backgound/header.jpg) center no-repeat;

}

