/* main.css for zachary stall bio page 2.0*/

html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

h2 {
	font-family: "Hhelvetica Neue", Helcetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

h3 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 200;
	text-align: center;
	color: #000000;
}

p {
	font-family: "Helvetica Neue", Helvetica, sans-srif;
	font-size: 14px;
	font-weight: 100;
}

header {
	box-sizing: border-box;
	border: 2px solid black;
	margin: 20px auto 20px auto;
	padding: 50px;
	width: 700px;
	background: url(images/backgound/header.jpg) center no-repeat;
}

.tagline, .skills{
	margin: 5px auto 20px auto;
	width: 700px;
}

.tagline p, .skills p, footer p {
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
}

.tagline h3, .skills h3 {
	margin-top: 20px;
	border-bottom: 1px solid black;
}

.skills ul {
	list-style-type: none;
}

#languages li {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	background-color: #444444;
	color: #cccccc;
	display: inline;
	padding: 4px 4px 4px 4px;
	margin-right: 10px;
}

#pcbuilds li {
	box-sizing: border-box;
	border: 2px solid black;
	margin: 20px auto 20px auto;
	padding: 10px;
	background: radial-gradient(ellipse at top left, aqua, #0049c3);
}

#pcbuilds img {
	box-sizing: border-box;
	padding: 17px;
}

footer {
}