/* main.css for zachary stall bio page 2.0*/

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 10px;
}

h1 {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 6em; /* 60px/10px */
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

h2 {
	font-family: Lato, "Helvetica Neue", Helcetica, sans-serif;
	font-size: 2.5em; /* 25px/10px */
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

h3 {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.8em; /* 18px/10px */
	font-weight: 200;
	text-align: center;
	color: #000000;
}

p {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-srif;
	font-size: 1.4em; /* 14px/10px */
	font-weight: 100;
}

header {
	box-sizing: border-box;
	border: 2px solid black;
	margin: 0.5% auto 0.5% auto;
	padding: 0.25%;
	width: 40%;
	background: url(images/backgound/header.jpg) center no-repeat;
}

.tagline, .skills {
	margin: 0% auto 0% auto;
	width: 40%;
}

.tagline p, .skills p, footer p {
	text-align: center;
	padding: 0.25%;
	margin-bottom: 1.5%;
}

.tagline h3, .skills h3 {
	margin-top: 20px;
	border-bottom: 1px solid black;
}

.skills ul {
	list-style-type: none;
}

#languages li {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	background-color: #444444;
	color: #cccccc;
	display: inline;
	padding: 4px 4px 4px 4px;
	margin-right: 10px;
}

#pcbuilds li {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid black;
	margin: 2.5% auto 2.5% auto;
	padding: .5%;
	background: radial-gradient(ellipse at top left, aqua, #0049c3);
}

#pcbuilds li img {
	/*
	box-sizing: border-box;
	*/
	display: inline;
	margin: 0, auto;
	/*
	padding: 2.0% 4% 2.0% 4.5%;
	*/
}

#badges img {
	float: left;
	padding-right: 2.0%;
}

#badges p {
	text-align: left;
	padding: 0;
	margin: 0;
}

#badges li {
	padding-bottom: 6.0%;
}
/*
footer {
	background-color: #777;
	width: 700px;
	display: block;
	margin: 0 auto;
}
*/
footer a {
	text-decoration: none;
	color: #fff;
}

ul {
	padding: 0;
	list-style: none;
}

.footer-social-icons {
	background-color: #4477cc;
	width: 700px;
	display: block;
	margin: 0 auto;
}

.social-icon {
	color: #fff;
}

ul.social-icons {
	margin-top: 10px;
}

.social-icons li {
	vertical-align: top;
	display: inline;
	height: 100px;
}

.social-icons a {
	color: #fff;
	text-decoration: none;
}

.fa-facebook {
    margin-left: 215px;
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-git {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-git:hover {
    background-color: #eb8231;
}

.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #fb3958;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-google {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google:hover {
    background-color: #e25714;
}